@page "/"
@using Lab02Logic

<PageTitle>Home</PageTitle>

<h1>Welcome to your Employee Manager!</h1>

<h3> Create a new task</h3>
<button>
    <button @onclick=createEmployee>Add An Employee</button>
</button>

<br>
<label>First Name
    <input @bind=firstName />
</label>
    <td>- @Employee.FirstName</td>


@code {
    string? firstName;
    string? lastName;
    void createEmployee()
    {
        Employee a = new Employee();


    }
}
